@import "src/globals/hack-styles.scss";

.status-container {
  border-radius: 15px;
  padding: 30px;
  min-width: 285px;
  background-color: white;
  box-shadow: 3px 10px 18px rgba(0, 0, 0, 0.1);

  .status-header {
    color: $dark;
    font-size: 24px;
    font-weight: bold;
    text-align: left;
  }

  .status-todo {
    color: $dark-blue;
    font-size: 24px;
    font-weight: bold;
    text-align: left;
    margin-bottom: 0;
  }

  .status-box {
    background-color: #e1e1e1;
    border-radius: 5px;
    font-weight: bold;
    color: $sky-blue;
    min-height: 50px;
    padding: 15px;
    font-size: 18px;
    margin-bottom: 20px;
  }

  .deadline-container {
    padding-top: 10px;
    color: $dark-blue;

    .deadline {
      margin: 0;
    }
  }

  .status-text {
    margin-top: 20px;
    color: $dark-blue;
  }

  .button-container {
    margin-top: 30px;

    .view-confirmation-button {
      background-color: $dark-blue;
      color: white;
      font-weight: bold;
    }

    .sorry-button {
      background-color: $dark-blue;
      color: white;
      font-weight: bold;
      margin-left: 10px;
    }
  }
}

.hack-dashboard-checkbox {
  width: 18px;
  margin-right: 5px;
}

.hack-dashboard-todo-container {
  text-align: left;
  & ul {
    list-style: none;
    padding: 0;
  }
}

@media screen and (max-width: 981px) {

  .button-container {

    .view-confirmation-button {
      margin-bottom: 10px !important;
    }

    .sorry-button {
      margin-left: 0;
    }
  }
}