@import "src/globals/hack-styles.scss";

.status-container {
  border-radius: 15px;
  padding: 30px;
  min-width: 285px;
  background-color: black;
  opacity: 0.7;

  .status-header {
    color: white;
    font-size: 24px;
    font-weight: bold;
    text-align: left;
  }

  .status-box {
    background-color: $redGrey;
    border: $softBlue solid 1px;
    border-radius: 5px;
    font-weight: bold;
    color: $softBlue ;
    min-height: 50px;
    padding: 15px;
    font-size: 18px;
    margin-bottom: 20px;
  }

  .deadline-container {
    padding-top: 10px;
    color: $softYellow;

    .deadline {
      margin: 0;
    }
  }

  .status-text {
    margin-top: 20px;
    color: $softBlue;
  }

  .button-container {
    margin-top: 30px;

    .view-confirmation-button {
      background: #C9A3F7;
      box-shadow: none;
      border: none;
      margin-bottom: 0;
    }

    .sorry-button {
      background: #C83A32;
      box-shadow: none;
      border: none;
      margin-left: 10px;
    }
  }
}

@media screen and (max-width: 981px) {

  .button-container {

    .view-confirmation-button {
      margin-bottom: 10px !important;
    }

    .sorry-button {
      margin-left: 0;
    }
  }
}