@import "globals/hack-styles.scss";

#past-sponsors-container {
  padding: 2em 3em 2em 3em;

  .title {
    font-size: 2em;
    color: #3e4389;
    font-weight: bold;
  }

  .past-sponsors-container__images {
    background: rgba(0, 0, 0, 0.7);
    border-radius: 40px;
    padding: 20px;
  }

  img {
    margin: 0 10px 0 10px;
    height: 75px;
    width: 175px;
  }
}
