@import 'HackStyles.scss';

.statement-view {

  background-color: $lightBackground;
  min-height: 17vh;
  display: flex;
  justify-content: center;
  align-items: center;
  
  h3 {
    font-size: 2em;
  }
}