@import 'globals/hack-styles.scss';

.starter-packs {
  min-height: calc(100vh - 114px);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: $white;

  & h1 {
    margin-top: 4rem;
    font-family: "Caveat Brush";
    font-weight: normal;
    font-size: 8rem;
    color: white;
  }

  .starter-packs-instructions {
    background-color: $dark-blue;
    border-radius: 10px;
    width: 80vw;
    margin: 5rem;
    text-align: left;
    display: flex;
    flex-direction: column;
    padding: 4rem;
    
    h2 {
      color: $white;
    }

    p {
      font-size: 1.4rem;
      margin-bottom: 2rem;
    }

    ul li {
      font-size: 1.4rem;
    }

    a {
      text-decoration: underline;
    }

    iframe {
      width: 100%;
      height: 480px;
    }

    @media screen and (max-width: $break-medium) {
      padding: 2rem;

      p {
        font-size: 1rem;
      }

      ul li {
        font-size: 1rem;
      }

      iframe {
        height: auto;
      }
      
    }
  }

  .starter-pack-card {
    margin-bottom: 3rem;
    width: 80vw;
    min-height: 10rem;
    border-radius: 10px;
    background-color: white;
    color: $dark-blue;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3rem;
    z-index: 10;
    box-shadow: 0px 15px 100px rgba(0, 0, 0, 0.15);
    display: flex;
    flex-direction: row;
    min-height: auto;

    @media screen and (max-width: $break-medium) {
      flex-direction: column;
    }

    p {
      font-size: 1.4rem;
    }

    .starter-pack-card-information {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      width: 60%;
      height: 100%;

      & h3 {
        font-family: "Caveat Brush";
        font-weight: normal;
        font-size: 36px;
      }

      @media screen and (max-width: $break-medium) {
        align-items: center;
      }
    }

    .starter-pack-card-links {
      display: flex;
      flex-direction: column;
      width: 40%;
      margin-top: 1rem;

      @media screen and (max-width: $break-medium) {
        width: 80%;
      }

      a {
        width: 100%;
        margin-bottom: 1rem;
        
        h4 {
          margin-bottom: 0;
        }
      }
    } 
  }
}

.starter-packs-link-button-odd {
  background-color: $sky-blue;
  color: $dark-blue;
  width: 100%;
  padding: 1rem;
  border-radius: 300px;
  border-collapse: separate;
  display: inline-block;

  & h4 {
    font-weight: 700;
  }
}

.starter-packs-link-button-even {
  background-color: $dark-blue;
  color: $white;
  width: 100%;
  padding: 1rem;
  border-radius: 300px;
  border-collapse: separate;
  display: inline-block;
  & h4 {
    font-weight: 700;
  }
}
