@import 'globals/hack-styles.scss';

.home {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction:column;
  color: $white;
  background-color: $topGradient;
  background-image: url("./../../../assets/images/site/cozy_work_wider.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  position: relative;

  h2 {
    font-size: 4rem;
  }

  .home-banner {
    width: 100%;
    display: flex;
    
    .banner-image {
      height: 1000px;
      width: 100%;
      // background-image: url("./../../../assets/images/site/cozy_work_wider.jpg");
      // background-attachment: fixed;
    }

    .banner-info {
      position: fixed;
      color: $white;
      display: flex;
      flex-direction: column;
      text-align: left;
      z-index: 10;
      width: 30%;
      right: 10%;
      top: 10rem;
      height: 1000px;

      h1 {
        font-size: 4rem;
        font-weight: bold;

        .uci {
          color: $yellow;
        }
      }

      h3 {
        font-size: 1.5rem;
      }

      p {
        font-size: 1.3rem;
        color: $yellow;
      }

      .application-button {
        margin: 1rem;
      }
    }
  }
  
  .remaining-gradient {
    background-image: linear-gradient(180deg, rgba(153, 130, 108, 0) 0%, rgba(153, 130, 108, 0.9) 18.42%, rgba(152, 99, 96, 0.9) 58%, rgba(98, 100, 131, 0.9) 100%);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .description-block {
    width: 60%;
    color: $white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 15rem;
    text-align: left;

    span {
      color: $yellow;
      margin: 0;
    }

    .firefly-image {
      width: 30px;
      height: 30px;
    }

    .description-tagline {
      background-color: $cardBackground;
      width: fit-content;
      height: 5rem;
      border-radius: 25px;
      margin-bottom: 2rem;
      font-size: 2rem;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      font-weight: bold;

      p {
        margin: 0;
      }

      img {
        margin-left: 2rem;
        margin-right: 2rem;
      }
    }

    .connect-inspire {
      span {
        margin-left: 1rem !important;
        margin-right: 1rem !important;
      }
    }

    .description-image-wrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: row;
      margin-bottom: 10rem;

      .description-image {
        width: 50%;
        
        img {
          width: 100%;
          border-radius: 15px;
        }
      }

      .description-text {
        width: 50%;
        padding: 2rem;
      }
    }
  }

  .volunteer-block {
    display: flex;
    flex-direction: row;
    width: 60%;
    margin-bottom: 10rem;
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    .volunteer-item-wrapper {
      display: flex;
      justify-content: space-between;
      flex-direction: row;
    }

    .volunteer-mentor-item {
      width: 45%;
      display: flex;
      align-items: center;
      flex-direction: column;
    }
  }

  .faq-block {
    width: 60%;
    margin-bottom: 10rem;

    h2 {
      margin-bottom: 2rem;
    }
  }

  .sponsor-block {
    width: 60%;
    margin-bottom: 10rem;

    h2 {
      margin-bottom: 2rem;
    }
    
    .sponsor-card {
      background-color: $cardBackground;
      padding: 5rem;
      width: 100%;
      border-radius: 20px;
    }
  }
}

// <div className="volunteer-block">
// <div className="volunteer-mentor-item">

// <div className="description-block">
// <div className="description-stats">
//   500 hackers. 36 hours. 10,000 in prizes
// </div>
// <div className="description-tagline">Create + Connect + Inspire</div>
// <div className="description-image-wrapper">
//   <div className="description-image">sdads</div>
//   <div className="description-text">