@import "globals/hack-styles.scss";

.faq-collapse {
  text-align: left;
  margin-bottom: 2rem;

  svg {
    cursor: pointer;
  }

  svg:hover {
    color: $white;
  }

  .answer-wrapper {
    display: flex;
    flex-direction: row;
    background-color: rgba(16, 16, 16, 0.385);
    width: 100%;
  }

  .faq-collapse-question {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
  }

  .faq-collapse-divider {
    width: 100%;
    height: 3px;
    min-height: 3px;
    border-radius: 2px;
    background-color: white;
    margin-top: 0.5rem;
  }

  h3 {
    margin: 0;
    font-size: 24px;
    max-width: 80%;
  }

  p {
    padding-top: 2rem;
    padding-bottom: 2rem;
    width: 80%;
    margin: auto;
  }
}