@import 'globals/hack-styles.scss';

.confirmation-container {
  background-color: $darkBackground;
  justify-content: center;
  align-items: center;
  color: #FFFFFF;
  height: 100vh;
  position: relative;

  .confirmation-content {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -30%);
    min-width: 80%;

    .confirmation-header {
      display: block;
      color: $confirmationHeaderColor;
      top: 20%;
      margin-bottom: 20px;
    }

    .confirmation-subheader {
      color: $confirmationHeaderColor;
      font-size: 1em;
    }

    .submit-button {
      width: 100%;
      background-color: $confirmationHeaderColor;
      color: white;
      margin-top: 1em;
    }

    .form-container {
      justify-content: left;

      .text {
        float: left;
        display: block;
        margin-bottom: .5em;
      }

      .diet-restrictions-container {
        float: left;

        .diet-restrictions {
          text-align: left;
          display: block;
        }
      }
    }
  }
}

.diet-restrictions-container {
  float: left;
  margin-bottom: 1em;

  .diet-restrictions {
    text-align: left;
    display: block;
  }
}

// @media screen and (min-width: 900px) {
//   .diet-restrictions-container {
//     position: absolute;
//   }
// }