@import "src/globals/hack-styles.scss";


.confirmation-content {
  min-width: 300px;
  max-width: 80%;
  padding: 2em .5em 3em;
  margin: 0 auto;

  .confirmation-header {
    display: block;
    color: white;
    top: 20%;
    margin-bottom: 20px;
  }

  .confirmation-subheader {
    font-size: 2em;
  }

  .submit-button {
    color: white;
    margin-top: 1em;
  }

  .form-container {
    justify-content: left;

    .text-container {
      text-align: left;
      float: left;

      .text {
        margin-bottom: .5em;
      }
    }

    .diet-restrictions {
      text-align: left;
      display: inline-block;
      width: 100%;
    }
  }

  .legal-text-container {
    text-align: left;
  }
}

.submit-button-container {
  height: 30px;
}

.sweet-alert {
  background-color: white;
  border-radius: 30px;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.15);
  h2 {
    color: $dark
  }
  p {
    color: $dark;
  }
  & button {
    background-color: $black !important;
    color: white;
    font-weight: bold;
  }
}

@media screen and (max-width: 981px) {
  .confirmation-header {
    font-size: 12px;
  }
}