@import "src/globals/hack-styles.scss";


.confirmation-content {
  min-width: 300px;
  max-width: 80%;
  padding: 2em .5em 3em;
  margin: 0 auto;

  .confirmation-header {
    display: block;
    color: white;
    top: 20%;
    margin-bottom: 20px;
  }

  .confirmation-subheader {
    font-size: 2em;
  }

  .submit-button {
    color: white;
    margin-top: 1em;
  }

  .form-container {
    justify-content: left;

    .text-container {
      text-align: left;
      float: left;

      .text {
        margin-bottom: .5em;
      }
    }

    .diet-restrictions {
      text-align: left;
      display: inline-block;
      width: 100%;
    }
  }

  .legal-text-container {
    text-align: left;
  }
}

.submit-button-container {
  height: 30px;
}

@media screen and (max-width: 981px) {
  .confirmation-header {
    font-size: 12px;
  }
}