@import "src/globals/hack-styles.scss";

.react-autosuggest__input {
  height: 30px;
  padding: 10px 20px;
  border: 1px solid #aaa;
  border-radius: 4px;
}

.react-autosuggest__input--focused {
  outline: none;
}

.react-autosuggest__input--open {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.react-autosuggest__suggestions-container {
  display: none;
}

.react-autosuggest__suggestions-container--open {
  display: block;
  position: absolute;
  text-align: left;
  width: 100%;
  border: 1px solid #aaa;
  background-color: #fff;
  font-weight: 300;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  z-index: 2;
}

.react-autosuggest__suggestions-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.react-autosuggest__suggestion {
  cursor: pointer;
  padding: 10px 20px;
}

.react-autosuggest__suggestion--highlighted {
  background-color: $darkYellow;
  color: white;
}

.react-autosuggest__suggestions-container {
  width: 88%;
  background-color: $redGrey;
  color: $softYellow;
}

.hack-custom-checkbox {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: $redGrey;
  &:after {
    content: "";
    position: absolute;
    display: none;
  }
}

.hack-form {
  background-color: rgba(0,0,0,0.7);
  border-radius: 40px;
  color: white;
  & p, a {
    color: $softBlue;
  }
  & b {
    color: $softYellow;
  }
  & h1, h2, h3, h4, h5 {
    font-weight: bold;
    padding-left: 30px;
    text-align: left;
  }
  & .form-group {
    text-align: left;
    padding: 0 30px;
    & .float-right {
      float: right;
    }
  }
  & > :first-child {
    padding-top: 30px;
  }
  & > :last-child {
    padding-bottom: 30px;
  }
  & .form-label {
    font-weight: bold;
    & p {
      font-weight: normal !important;
    }
  }
  & input, select, textarea {
    color: white;
    background-color: $redGrey !important;
    border: 1px solid $redGrey;
    border-radius: 5px;
    &::placeholder {
      color: $softYellow;
    }
    &:focus {
      color: white;
    }
  }
  & select {
    //-moz-appearance: listbox;
    //-webkit-appearance: listbox;
    // another method would be setting appearance: none and adding a custom background with a down caret;
  }
  & select, option {
    color: $softYellow;
    &:focus {
      color: $softYellow;
    }
  }
  .hack-form-conditional-select-color {
    color: white;
  }
  & textarea {
    min-height: 40px;
  }
  & button {
    background-color: $darkRed;
    border: 1px solid $softRed;
    font-weight: bold;
    &:hover {
      background-color: $softRed;
    }
    padding-bottom: 5px !important;
    margin-bottom: 30px;
  }
  & a:hover, a:focus {
    background-color: transparent;
  }
  & hr {
    border: 3px solid white;
    background-color: white;
  }
  & .hack-form-apply-drag-and-drop-svg {
    filter: invert(100%) brightness(150%);
  }
  & .hack-form-resume-section {
    background-color: $softBlue;
    border-radius: 10px;
    width: 130px;
    max-height: 120px;
    text-align: center;
    padding: 10px;
    & p {
      color: white;
    }
  }
  & .hack-form-resume-preview {
    margin: 0;
  }
}

.hack-form-container {
  h1 {
    color: white;
    font-weight: bold;
    text-align: left;
    font-size: 65px;
    padding: 20px 0;
  }
  margin: 5% 35%;
}

.field-required {
  color: $softRed;
  display: inline;
}

.pointer {
  cursor: pointer;
}

@media screen and (max-width: 2560px) {
  .hack-form-container {
    margin: 1% 30% 5% 30%;
  }
}

@media screen and (max-width: 1440px) {
  .hack-form-container {
    margin: 1% 25% 5% 25%;
  }
}

@media screen and (max-width: 1024px) {
  .hack-form-container {
    margin: 1% 15% 20% 15%;
  }
}

@media screen and (max-width: 981px) {
  .hack-form-container {
    margin: 5vh 5vw 30vh 5vw;
    & .col {
      min-width: 300px;
    }
    & h1 {
      font-size: 40px !important;
    }
  }
  .hack-form {
    & .form-row {
      margin-bottom: 15px;
    }
  }
}

.hack-login-info-pages {
  margin: 15vh 35vw 30vh 35vw;
}

@media screen and (max-width: 981px) {
  .hack-login-info-pages {
    margin: 15vh 5vw 30vh 5vw;
    & .col {
      min-width: 300px;
    }
    & h1 {
      font-size: 40px !important;
    }
  }
}