@import "globals/hack-styles.scss";

.home {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: $white;
  background-color: $topGradient;
  background-image: url("./../../../assets/images/site/cozy_work_wider.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: 1;

  h2 {
    font-size: 4rem;
    font-weight: bold;
  }

  .home-banner {
    width: 100%;
    display: flex;

    .banner-image {
      height: 1000px;
      width: 100%;
    }

    .banner-info {
      position: fixed;
      color: $white;
      display: flex;
      flex-direction: column;
      text-align: left;
      z-index: 10;
      width: 27%;
      right: 5%;
      top: 12rem;
      height: 1000px;

      h1 {
        font-size: 4rem;
        font-weight: bold;

        .uci {
          color: $yellow;
        }
      }

      button {
        margin-top: 1rem;
        margin-bottom: 1rem;
      }

      h3 {
        font-size: 1.5rem;
      }

      p {
        font-size: 1.3rem;
        color: $yellow;
      }

      .application-button {
        margin: 1rem;
      }
    }
  }

  .remaining-gradient {
    background-image: linear-gradient(
      180deg,
      rgba(153, 130, 108, 0) 0%,
      rgba(153, 130, 108, 0.9) 18.42%,
      rgba(152, 99, 96, 0.9) 58%,
      rgba(98, 100, 131, 0.9) 100%
    );
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 20;
  }

  .description-block {
    width: 80%;
    color: $white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 15rem;
    text-align: left;

    .firefly-wrapper {
      position: relative;
      width: 50px;
      height: 50px;
      margin-left: 2rem;
      margin-right: 2rem;

      img {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        margin: 0;
      }

      & > div {
        background: radial-gradient(
          50% 50% at 50% 50%,
          rgba(255, 236, 211, 0.5) 31.96%,
          rgba(254, 217, 167, 0.3) 59.57%,
          rgba(255, 146, 139, 0) 100%
        );
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
      }
    }

    .description-tagline {
      background-color: $cardBackground;
      width: fit-content;
      border-radius: 25px;
      margin-bottom: 2rem;
      font-size: 2rem;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      font-weight: bold;
      height: fit-content;
      min-height: 5rem;

      p {
        margin: 0;
        display: flex;
        flex-direction: row;

        @media screen and (max-width: $break-medium) {
          flex-direction: column;
          align-items: center;
          padding-top: 1rem;
          padding-bottom: 1rem;
        }

        .block {
          display: flex;
          flex-direction: row;
          margin-left: 0.5rem;
          margin-right: 0.5rem;
        }
    
        .yellow {
          color: $yellow;
          margin: 0;
        }
      }
    }

    .connect-inspire {
      span {
        margin-left: 1rem !important;
        margin-right: 1rem !important;
      }
    }

    .description-image-wrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: row;
      margin-bottom: 10rem;
      margin-top: 10rem;
      width: 100%;

      @media screen and (max-width: $break-large) {
        flex-direction: column;
      }

      .description-image {
        width: 50%;

        @media screen and (max-width: $break-large) {
          width: 80%;
        }

        img {
          width: 100%;
          border-radius: 15px;
        }
      }

      .description-text {
        width: 50%;
        padding: 2rem;

        @media screen and (max-width: $break-large) { 
          margin-top: 2rem;
          width: 80%;
        }
      }
    }
  }

  .volunteer-block {
    display: flex;
    flex-direction: row;
    width: 60%;
    margin-bottom: 10rem;
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    

    .volunteer-item-wrapper {
      display: flex;
      justify-content: space-between;
      flex-direction: row;

      @media screen and (max-width: $break-large) {
        align-items: center;
        flex-direction: column;
      }

      .volunteer-mentor-item {
        width: 45%;
        display: flex;
        align-items: center;
        flex-direction: column;

        img {
          width: 90%;
          margin-top: 2rem;
        }

        @media screen and (max-width: $break-large) {
          width: 80%;
        }
      }
    }

    
  }

  .faq-block {
    width: 60%;
    margin-bottom: 10rem;

    h2 {
      margin-bottom: 2rem;
    }
  }

  .sponsor-block {
    width: 60%;
    margin-bottom: 10rem;

    h2 {
      margin-bottom: 2rem;
    }

    .sponsor-card {
      background-color: $cardBackground;
      padding: 5rem;
      width: 100%;
      border-radius: 20px;
      flex-wrap: flex;

      .large {
        width: 200px;
      }

      img {
        width: 200px;
        margin: 2rem;
      }
    }
  }
}
