@import "src/globals/hack-styles.scss";

$nav-animation-gradient: linear-gradient(
  120deg,
  rgb(198, 161, 127),
  rgb(189, 126, 123),
  rgb(125, 129, 182)
);

.hack-navbar-admin {
  font-weight: 700;
  //  padding: 2px 16px;
  background: black;
  transition: background-color 0.25s ease-in-out;
  height: 4rem;
  z-index: 20;

  .navbar-nav {
    align-items: center;
  }

  .hack-nav-item {
    margin: 0 0.65rem;
  }

  .nav-link {
    color: $white !important;
    padding-left: 2px !important;
    padding-right: 2px !important;
  }
}
