@import "src/globals/hack-styles.scss";

a {
  text-decoration: none;
  color: white;
  &:hover {
    color: white;
  }
}

.hack-navbar-logo {
  width: 40px;
}

.hack-button {
  background-color: $darkRed;
  border: 1px solid $softRed;
  width: fit-content;
  padding-left: 1rem;
  padding-right: 1rem;

  &:hover {
    background-color: $softRed;
  }
}

.hack-navbar {
  font-weight: bold;
  padding: 2px 16px;
  background: black;
  height: 4rem;

  & .nav-non-button-item {
    padding-top: 15px;
  }
  & .selected {
    //border-bottom: 5px solid linear-gradient($softBlue, $softRed, $softYellow); no builtin CSS support lame :///
    border-bottom: 5px solid $softRed;
  }
}

.hack-navbar-home {
  background: $darkBlue;

  @media screen and (max-width: $break-medium) {
    background: black;
    z-index: 10;
    position: sticky;
    top: 0;
  }
}

.hack-nav-hamburger {
  display: none;
  background-color: transparent;
  border: none;
  filter: invert(100%) brightness(500%);
  &:focus, &:active, &:link, &:visited {
    background-color: transparent;
    border: none;
    outline: none;
  }
}

.hack-nav-mobile-menu {
  display: none;
}

.hack-navbar-black {
  background-color: black;
}

.hack-navbar-blue {
  background-color: $darkBlue;
}


@media screen and (max-width: 981px) {
  .navbar-collapse {
    z-index: 2;
    position: absolute;
    top: 4rem;
    width: 100%;
    padding-bottom: 10px;
    left: 0px;
    & .navbar-nav {
      padding-left: 20px;
    }
  }

  .hack-nav-hamburger {
    display: inherit;
  }

  .hack-nav-item {
    text-align: left;
  }

  .hack-nav-mobile-menu {
    display: inherit;
    background-color: $redGrey;
    padding-bottom: 15px;
    text-align: left;
  }
}