@import "src/globals/hack-styles.scss";

$nav-animation-gradient: linear-gradient(
  120deg,
  white,
  white
);

.hack-navbar-logo {
  width: 40px;
}

.hack-navbar {
  font-weight: 700;
//  padding: 2px 16px;
  background: #45bdd8;
  height: 4rem;
  z-index: 20;

  .navbar-nav {
    align-items: center;
  }

  .hack-nav-item {
    margin: 0 0.65rem;
  }

  .nav-link {
    color: $white !important;
    padding-left: 2px !important;
    padding-right: 2px !important;
  }

  .special-nav-animation {
    background-image: $nav-animation-gradient;
    background-repeat: no-repeat;
    background-position-y: 30px;
    transition: background-size 0.25s ease-in-out;
    background-size: 0% 5px;
    // padding-bottom: 5px;
  }

  .special-nav-animation:hover, .selected {
    background-size: 100% 5px;
  }
}

.hack-navbar-home {
  background: transparent;
}

.hack-nav-hamburger {
  display: none;
  background-color: transparent;
  border: none;
  filter: invert(100%) brightness(500%);
  &:focus,
  &:active,
  &:link,
  &:visited {
    background-color: transparent;
    border: none;
    outline: none;
  }
}

@include media-breakpoint-down(md) {
  .hack-navbar {
    background-color: #0D272D;
  }

  .hack-navbar {
    position: sticky;
    top: 0px;
    width: 100%;

    .hack-nav-item {
      margin: 0.35rem 0;
    }
  }

  .navbar-collapse {
    z-index: 2;
    position: absolute;
    top: 4rem;
    width: 100%;
    padding-bottom: 10px;
    left: 0px;
    .navbar-nav {
      padding-left: 20px;
      align-items: flex-start;
    }
    background-color: #0D272D;
  }

  .hack-navbar-home {
    background-color: #0D272D;
    z-index: 10;
  }

  .hack-nav-hamburger {
    display: inherit;
  }
}

.btn-login {
  padding: 7px 14px;
  border-radius: 5px;
  background-color: white;
  color: black;
  font-weight: 700;
}
