@import "src/globals/hack-styles.scss";

a {
  text-decoration: none;
  color: white;
  &:hover {
    color: white;
  }
}

.hack-navbar-logo {
  width: 40px;
}

.hack-button {
  background-color: $darkRed;
  border: 1px solid $softRed;
  width: fit-content;
  padding-left: 1rem;
  padding-right: 1rem;
  font-weight: bold;

  &:hover {
    background-color: $softRed;
  }
}

.hack-navbar {
  font-weight: bold;
  padding: 2px 16px;
  background: black;
  height: 4rem;
  z-index: 20;

  & .nav-non-button-item {
    padding-top: 15px;
  }
  & .selected {
    background-image: linear-gradient(
      120deg,
      rgb(198, 161, 127),
      rgb(189, 126, 123),
      rgb(125, 129, 182)
    );
    background-repeat: no-repeat;
    background-size: 100% 5px !important;
    background-position-y: 25px;
  }

  a:hover {
    text-decoration: none !important;
  }

  .special-nav-animation {
    transition: 0.25s ease-out background-size;
    height: 100px !important;
    padding-bottom: 5px;
    background-size: 0 5px;
  }

  .special-nav-animation:hover {
    background-image: linear-gradient(
      120deg,
      rgb(198, 161, 127),
      rgb(189, 126, 123),
      rgb(125, 129, 182)
    );
    background-repeat: no-repeat;
    background-size: 100% 5px;
    background-position-y: 25px;
  }
}

.hack-navbar-home {
  background: $darkBlue;

  @media screen and (max-width: $break-medium) {
    background: black;
    z-index: 10;
    position: sticky;
    top: 0;
  }
}

.hack-nav-hamburger {
  display: none;
  background-color: transparent;
  border: none;
  filter: invert(100%) brightness(500%);
  &:focus,
  &:active,
  &:link,
  &:visited {
    background-color: transparent;
    border: none;
    outline: none;
  }
}

.hack-navbar-black {
  background-color: black;
}

.hack-navbar-blue {
  background-color: $darkBlue;
}

@media screen and (max-width: 981px) {
  .navbar-collapse {
    z-index: 2;
    position: absolute;
    top: 4rem;
    width: 100%;
    padding-bottom: 10px;
    left: 0px;
    & .navbar-nav {
      padding-left: 20px;
    }
  }

  .hack-nav-hamburger {
    display: inherit;
  }

  .hack-nav-item {
    text-align: left;
    padding: 12px;
  }

  .hack-navbar-black {
    background-color: $redGrey;
  }

  .hack-navbar-blue {
    background-color: $redGrey;
  }
  .hack-navbar {
    position: sticky;
    top: 0px;
    width: 100%;
  }
}
