@import "globals/hack-styles.scss";

.navbar {
  background: $darkBlue;
  height: 4rem;

  a {
    text-decoration: none;
    color: #fff;
  }
  
  a:hover {
    color: #fff;
    background: slategray;
  }
}

