@import 'globals/hack-styles.scss';

$cardBackground: $dark-blue;

$eventMain: $sky-blue;
// $eventMain: tint-color($softYellow, 5%);
$eventWorkshop: tint-color($softBlue, 0%);
$eventSocial: tint-color($softRed, 0%);
$eventHacking: #1e7030;
$eventHackingGradient: #1e7030;
$eventSpacer: #852626;
$eventSpacerGradient: #852626;
$eventFinalGradient: linear-gradient($dark-blue, shade-color($sky-blue, 15%));

$eventBadgeText: #000;

$eventMainActive: shade-color($eventMain, 70%);
$eventWorkshopActive: shade-color($eventWorkshop, 70%);
$eventSocialActive: shade-color($softRed, 72%);
$pulseActiveBorder: #333;
$cardDark: #111c;

.event-title {
  font-weight: 700;
}

.event-card {
  margin: 1.15rem;
  color: $white;
  background-color: $cardBackground;
  // border-width: 1px;
  border-width: 0px;
  border-radius: 1rem;
  box-shadow: 0 0.5rem 1rem #0003;

  .card-title {
    display: flex;
    justify-content: space-between;
    @media screen and (max-width: $break-medium) {
      flex-direction: column;
    }
  }

  .card-subtitle {
    margin-bottom: 0.5rem;
  }
}
.event-card-past {
  opacity: 0.85;
}

.event-card-main {
  border-color: $eventMain;
  border-width: 1px;
}
.event-card-workshop {
  border-color: $eventWorkshop;
}
.event-card-social {
  border-color: $eventSocial;
}
.event-card-hacking {
  border-color: $cardBackground;
  border-width: 1px;
  background-color: $eventHacking;
  background-image: $eventHackingGradient;
  .event-title {
    text-transform: uppercase;
  }
}
.event-card-spacer {
  border-color: $cardBackground;
  border-width: 0px;
  background-color: $eventSpacerGradient;
  .card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
.event-card-final {
  background-image: $eventFinalGradient;
}

.event-card-current {
  animation-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-direction: alternate;

  &.event-card-main {
    box-shadow: 0px 0px 4px $eventMain inset;
    animation-name: main-pulse;
  }
  &.event-card-workshop {
    box-shadow: 0px 0px 4px $eventWorkshop inset;
    animation-name: workshop-pulse;
  }
  &.event-card-social {
    box-shadow: 0px 0px 4px $eventSocial inset;
    animation-name: social-pulse;
  }
  &.event-card-spacer {
    box-shadow: 0px 0px 4px $eventSpacer inset;
    animation-name: spacer-pulse;
  }
}

@keyframes main-pulse {
  from {
    background-color: $cardDark;
    border-color: $eventMain;
  }
  to {
    background-color: $eventMainActive;
    border-color: $pulseActiveBorder;
  }
}
@keyframes workshop-pulse {
  from {
    background-color: $cardDark;
    border-color: $eventWorkshop;
  }
  to {
    background-color: $eventWorkshopActive;
    border-color: $pulseActiveBorder;
  }
}
@keyframes social-pulse {
  from {
    background-color: $cardDark;
    border-color: $eventSocial;
  }
  to {
    background-color: $eventSocialActive;
    border-color: $pulseActiveBorder;
  }
}
@keyframes spacer-pulse {
  from {
    background-color: $cardDark;
    border-color: $eventSpacer;
  }
  to {
    background-color: $eventSpacer;
    border-color: $pulseActiveBorder;
  }
}

.event-badge {
  margin-left: 0.15rem;
  //  font-size: 1rem;
  margin-bottom: auto;
  font-weight: normal;
  border-radius: 15px;
  padding: 0.3rem 1rem;

  @media screen and (max-width: $break-medium) {
    width: 30%;
    border-radius: 15px;
    margin-top: 5px;
    margin-bottom: auto;
    padding: 5px;
  }
}

.badge-main {
  color: $eventBadgeText;
  background-color: $eventMain;
}
.badge-workshop {
  color: $eventBadgeText;
  background-color: $eventWorkshop;
}
.badge-social {
  color: $eventBadgeText;
  background-color: $eventSocial;
}

.event-time {
  color: $white;
  font-weight: 600;
}

.event-moment {
  font-size: 0.85rem;
  font-weight: 300;
  color: #aaa;
}
