@import 'globals/hack-styles.scss';
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@700&display=swap');

.over-remarks {
  max-width: 720px;
  padding: 5vh;
}

.schedule-countdown {
  font-style: normal;
  font-weight: bold;
  font-size: 120px;
  padding-top: 5vh;

  @media screen and (max-width: $break-medium) {
    margin-bottom: 0 !important;
    font-size: 16vw;
  }
}

.schedule-countdown-text {
  font-family: Caveat Brush;
  font-style: normal;
  font-weight: normal;
  text-align: center;
  font-size: 2vw;
  padding-bottom: 2vh;

  @media screen and (max-width: $break-medium) {
    font-size: 5vw;
  }
}
