@import "globals/hack-styles.scss";

.live-expo {
  min-height: calc(100vh - 114px);
  width: 100vw;
  background: linear-gradient(
    180deg,
    #8c765f 0.8%,
    #8a5655 48.2%,
    #555776 100%
  );

  flex-direction: column;

  h2 {
    font-size: 120px; //120 when public
    font-weight: bold;
    color: $white;
    justify-content: flex-start;
  }

  p {
    color: white;
    justify-content: flex-start;
  }

  .header-container {
    display: flex;
    justify-content: flex-start;
  }

  .video-stream {
    z-index: 10000000000000;
    height: 60vh;
    width: 70vw;

    @media screen and (max-width: $break-medium) {
      height: 60vh;
      width: 80vw;
      margin-bottom: 12vh;
    }
  }

  .live-expo-title,
  .live-expo-descrip {
    text-align: left;
    display: block;
    width: 70%;
    margin: auto;
  }

  .live-expo-title {
    padding-top: 25px;
  }
}
.below-fold {
  position: relative;
  z-index: 2;
}