@import 'globals/hack-styles.scss';

.schedule {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: left;

  a {
    color: #7ae;

    &:hover {
      color: #59d;
    }
  }
}

.schedule-list {
  width: 90%;
  max-width: 720px;
}

.schedule-heading {
  text-align: center;
  margin-top: 1.5rem;
  margin-bottom: 0;
  color: $white;
}
