@import 'globals/hack-styles.scss';

.schedule {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: left;

  a {
    color: #7ae;

    &:hover {
      color: #59d;
    }
  }

  h1 {
    color: $white;
    font-size: 3.5rem;
    font-weight: 700;
    margin-top: 0.5rem
  }
}

.schedule-navigation {
  width: 100%;
  max-width: 840px;
  position: sticky;
  top: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;

  /* medium breakpoint */
  @media (min-width: 768px) {
    flex-direction: row;
    justify-content: space-between;
  }
  /* large-breakpoint: main navbar is hidden */
  @media (min-width: 992px) {
    top: 0;
  }

  padding: 2rem;
  background-color: #222e;
}

.hoist {
  display: contents;
}

.schedule-list {
  width: 90%;
  max-width: 720px;
}

.schedule-heading {
  text-align: center;
  margin-top: 1.5rem;
  margin-bottom: 0;
  color: $white;
}
