@import 'globals/hack-styles.scss';

.schedule {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: left;

  a {
    color: $sky-blue;

    &:hover {
      color: #59d;
    }
  }
}

.schedule-list {
  width: 90%;
  max-width: 1000px;

  section {
    margin: 1.5rem 0;
  }

  ul {
    list-style-type: none;
    padding-left: 0;
  }

  h3 {
    font-weight: 600;
  }

  .h4,
  h4 {
    min-height: 0.001vw;
    font-size: unquote('min(1.5rem, calc(0.6vw + 1rem))');
  }
  .h5,
  h5 {
    min-height: 0.001vw;
    font-size: unquote('min(1.25rem, calc(0.3vw + 0.9rem))');
  }
  .card-body {
    min-height: 0.001vw;
    font-size: unquote('min(1.05rem, calc(0.8vw + 0.7rem))');
  }
}

.schedule-heading {
  text-align: center;
  margin-bottom: 0;
}
