@import "src/globals/hack-styles.scss";

.hack-footer {
  background-color: #0d272d;
  height: 90px;
  width: 100%;
  // margin: -1px 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;

  .hack-footer-message {
    font-size: 1em;
    order: 2;
  }

  .hack-footer-icon-group {
    margin-left: 0 !important;
    order: 1;
    margin-bottom: 15px;
  }

  & .hack-footer-icon {
    margin: 0 15px;
    width: 30px;
  }
}

.hack-footer-email-svg-color {
  filter: invert(100%) brightness(150%);
}

@media screen and (max-width: 981px) {
  .hack-footer {
    height: 105px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;

    .hack-footer-message {
      font-size: 1em;
      order: 2;
    }
    .hack-footer-icon-group {
      margin-left: 0 !important;
      order: 1;
    }
    & .hack-footer-icon {
      width: 20px;
      margin: 0 10px;
    }
  }
}
