@import "src/globals/hack-styles.scss";

.hack-footer {
  background-color: black;
  color: white;
  height: 50px;
  font-size: 14px;
  position: absolute;
  width: 100%;
  bottom: 0;
  z-index: 10;

  & a {
    color: $softBlue;
  }

  & .hack-footer-icon-group {
    align-items: center;
  }

  & .hack-footer-icon {
    margin: 0 15px;
    width: 30px;
  }
}

.hack-footer-email-svg-color {
  filter: invert(100%) brightness(150%);
}

@media screen and (max-width: 981px) {
  .hack-footer {
    height: 90px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    .hack-footer-message {
      font-size: 1em;
      order: 2
    }
    .hack-footer-icon-group {
      margin-left: 0 !important;
      order: 1
    }
    & .hack-footer-icon {
      width: 20px;
      margin: 0 10px;
    }
  }
}