@import 'globals/hack-styles.scss';

.button {
  width: fit-content;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  height: 2.5rem;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $red;
  color: $white;
  font-weight: bold;
  opacity: 70%;
  transition: 0.5s all;
  cursor: pointer;
}

.button:hover {
  opacity: 1
}