#dashboard {
  background: linear-gradient(#91dfe1, #cca2ff);
  min-height: calc(100% + 49px);
  font-family: 'Catmaran', sans-serif;

  .fix-letter {
    letter-spacing: 0px;
  }

  .bold-this {
    font-weight: 400;
  }

  .flex-box {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    
    .tower-side {
      display: flex;
      max-width: 580px;
      flex-direction: column;
      width: 50%;
      text-align: center;
      justify-content: center;
      align-items: center;
    
      .tower-container {
        width: 70%;
        // min-width: 400px;
        margin-left: auto;
        margin-right: auto;
        display: block;
        position: relative;

        #tower {
          width: 100%;
          max-width: 400px;
        }
  
        .cloud {
          z-index: -1;
          max-width: 300px;
          position: absolute;
        }
  
        #cloud4 {
          right: -20%;
          top: 6%;
          width: 70%;
          animation: SidetoSide4 7s ease-in-out infinite;
        }
  
        #cloud2 {
          top: -8%;
          left: 38%;
          width: 53%;
          animation: SidetoSide2 10s ease-in-out infinite;
        }
  
        #cloud3 {
          bottom: 25%;
          right: -10%;
          width: 60%;
          animation: SidetoSide3 5s ease-in-out infinite;
        }
  
        #cloud1 {
          bottom: 35%;
          left: 40%;
          width: 40%;
          animation: SidetoSide1 8s ease-in-out infinite;
        }
      }
    }

    .content-side {
      width: 50%;
      text-align: left;
      max-width: 580px;

      .dashboard-content {
        width: 100%;
        max-width: 400px;
        min-width: 288px; 
        font-family: "Catamaran", sans-serif;

        .title {
          margin-left: auto;
          margin-right: auto;
          letter-spacing: 1px;
          font-weight: 600;
          font-family: "Catamaran", sans-serif;
        }
        
        .segment {
          padding: 36px 36px 36px 36px;
          border-radius: 30px;
          background-color: #ffffff;
          border: none;
          width: 100%;

          .generic-btn {
            color: #ffffff !important;
            font-weight: normal;
            border-radius: 30px;
            font-family: "Catamaran", sans-serif;
          }

          .generic-btn:hover {
            opacity: .8;
          }

          .edit-apply-btn {
            margin-top: 0;
          }
      
          strong {
            font-weight: 500;
          }
        }
      }
    }
  }

  .title {
    color: #ffffff;
    font-size: 1.5em;
  }

  .text {
    font-size: 1em;
    font-family: "Catamaran", sans-serif;
    font-weight: normal;
  }

  .status {
    color: white;
    text-align: center;
    border: 1px solid #b8bbef;

    p {
      text-align: left;
      margin-bottom: 0;
    }
    .button {
      margin-top: 16px;
      border-radius: 5px;
      padding: 0.8em 1.5em;
    }
    .header {
      font-size: 1.2em;
    }
    .state {
      margin-top: .5em;
      text-align: center;
      padding: 5px 15px;
      margin-bottom: 1em;
      color: #ffffff;
      font-size: 1em;
      text-transform: uppercase;
      border-radius: 30px;
      background: #7069b1 !important;
    }
  }

  

  .description {
    margin: 16px 0;
    text-align: center;
    .markdown {
      text-align: center;
      margin-bottom: 24px;
      p {
        text-align: center;
      }
    }
  }

  #closed-and-incomplete {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1000px) {
  #dashboard .flex-box .tower-side .tower-container  {
    width: 90%;
  }
}

@media (max-width: 768px) {
  .tower-side {
    width: 0 !important;
  }
  
  .content-side {
    width: 100% !important;
    text-align: center;
  }

  .dashboard-content {
    margin: auto;
  }

  // #dashboard .flex-box .content-side .dashboard-content {
  //   left: 50%;
  //   transform: translateX(-50%);
  // }
}

@keyframes SidetoSide1 {
  0%, 100% {
    left: 35%;
  }
  50% {
    left: 45%;
  }
}

@keyframes SidetoSide2 {
  0%, 100% {
    left: 41%;
  }
  50% {
    left: 35%;
  }
}

@keyframes SidetoSide3 {
  0%, 100% {
    right: -30%;
  }
  50% {
    right: -25%;
  }
}

@keyframes SidetoSide4 {
  0%, 100% {
    right: -28%;
  }
  50% {
    right: -36%;
  }
}
