#expo {
  height: 100%;
  width: 100%;
  position: absolute;

  .col-border::after {
    content: " ";
    display: block;
    height: 900px;
    background-color: #7069b1;
    width: 3px;
    left: 101%;
    // border-radius: 5px;
    top: calc(50% - 450px);
    position: absolute;

    @media screen and (max-width: 767px) {
      display: none;
    }
  }

  .cloud {
    position: absolute;
    width: 45%;
    opacity: 0.5;
    z-index: -1;
    min-width: 300px;
  }

  #cloud4 {
    top: -35%;
    right: -5%;
    max-width: 450px;
    animation: Cloud4 10s ease-in-out infinite;
  }

  #cloud3 {
    bottom: 0;
    right: 15%;
    width: 35%;
    max-width: 320px;
    animation: Cloud3 5s ease-in-out infinite;
  }

  #cloud2 {
    bottom: 10%;
    left: 7%;
    width: 35%;
    max-width: 330px;
    animation: Cloud2 8s ease-in-out infinite;
  }

  #cloud1 {
    top: -35%;
    left: 15%;
    width: 27%;
    max-width: 300px;
    animation: Cloud1 8s ease-in-out infinite;
  }

  .inner-section {
    min-width: 335px;
    width: 80%;
    text-align: center;
    position: absolute;
    display: block;
    top: 200px;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: 1s fadein 0.2s both;

    @media (max-width: 767px) {
      display: none;
    }
  }

  #bg-tint {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 998;
    background: #2c3e50;
  }

  #hero {
    width: 100%;
    height: calc(45vh + 49px);
    position: fixed;
    animation: fadein 0.5s both;
    animation-delay: 0.15s;
  }

  #hero::before {
    content: "";
    opacity: 0.8;
    width: 100%;
    left: 0;
    height: calc(45vh + 50px);
    position: fixed;
  }

  .logo-header-container {
    height: 100px;
    margin: 0 0 5% 0;
    animation: fadein 0.5s both;
    animation-delay: 0.15s;
  }

  .logo-header {
    height: 100px;
    position: absolute;
    top: 55px;
    left: 0;
    right: 0;
    width: 100%;
    text-align: center;
    transition: all 0.2s ease;
  }

  .logo-cog {
    animation: spin 12s linear infinite;
  }

  .logo-header > img {
    height: 100%;
  }

  .hero-border {
    width: 100%;
    height: 181px;
    position: fixed;
    top: calc(45vh - 82px);
    left: 0;
    z-index: 2;
  }

  @media (max-width: 767px) {
    .hero-border {
      height: 182px;
    }
  }

  .hero-border svg {
    width: 100%;
    height: calc(45% + 51px);
    position: absolute;
    vertical-align: bottom;
  }

  @keyframes floatupanddown {
    from {
      transform: translateY(15px);
    }

    to {
      transform: translateY(-15px);
    }
  }

  .countdown-container {
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 2;
    text-transform: uppercase;
    color: #fff;
    font-size: 2.5em;
    text-align: center;
    letter-spacing: 8px;
    // animation: fadein 0.5s both;
    // animation-delay: 0.3s;

    -webkit-animation-duration: 4s;
    -webkit-animation-name: floatupanddown;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    -webkit-animation-timing-function: ease-in-out;

    @media (max-width: 992px) {
      height: 80px;
    }

    @media (max-width: 767px) {
      height: 0px;
    }

    #floating-robot {
      position: absolute;
      padding-top: 450px;

      @media (max-width: 992px) {
        transform: scale(0.7);
        padding-top: 480px;
      }

      @media (max-width: 767px) {
        transform: scale(0.5);
        padding-top: 600px;
      }

      @media (max-width: 460px) {
        transform: scale(1);
        width: 80vw;
        padding-top: 330px;
      }
    }

    .countdown-wrapper {
      position: absolute;
      transform: translateY(116px);

      @media (max-width: 992px) {
        transform: translateY(90px) scale(0.7);
      }

      @media (max-width: 767px) {
        transform: translateY(95px) scale(0.6);
      }

      @media (max-width: 460px) {
        transform: translateY(122px) scale(0.6);
      }
    }
  }

  @media (max-width: 767px) {
    .countdown-container {
      font-size: 1.5em;
      letter-spacing: 3px;

      &:after {
        width: 150px;
        border-bottom: 2px solid #fff;
      }
    }

    .countdown-segment {
      .countdown--fixed {
        width: 40px;
      }
    }
  }

  .countdown {
    font-weight: 300;
  }

  .countdown--bold {
    font-weight: 800;
    font-family: "Open Sans" !important;
  }

  .countdown--fixed {
    width: 65px;
    display: inline-block;
  }

  /* Schedule */
  #schedule-container {
    position: relative;
    z-index: 1000;
    // background: #ffffff;
    color: #2e2e2e;
    animation: fadein 0.5s both;
    animation-delay: 0.45s;
    padding-bottom: 1px;
    background: linear-gradient(#91dfe1, #cca2ff);

    @media screen and (max-width: 767px) {
      background: #91dfe1;
      padding-bottom: 30px;
    }

    .schedule-box {
      width: 85%;
      margin: 40vh auto 8% auto;
      left: 0;
      right: 0;
      border-radius: 15px;
      box-shadow: 3px 10px 18px rgba(0, 0, 0, 0.1);
      background: linear-gradient(to right, #ffffff 0%, #ffffff 100%);
      z-index: 1000;

      @media screen and (max-width: 767px) {
        padding-bottom: 30px;
        margin-bottom: 0px;
      }
    }

    @media (min-width: 768px) {
      .schedule-box {
        padding: 0 1%;
      }
    }

    .title {
      text-align: center;
      text-transform: uppercase;
      font-weight: 500;
      font-size: 1.25em;
      letter-spacing: 0.1em;
      margin: 2.5% 0 5%;
      animation: fadein 0.5s both;
      animation-delay: 0.65s;
      color: #7069b1;
    }

    .schedule-list {
      width: 95%;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 2%;

      .schedule {
        display: flex;
        flex-wrap: wrap;
        margin-top: 3.5%;
        animation: fadein 0.5s both;
        animation-delay: 0.75s;
        color: #7069b1;

        .schedule-title {
          width: 65%;
          font-weight: 400;
          font-size: 0.95em;
          letter-spacing: 0.07em;
          line-height: 1.4em;
        }

        .schedule-time {
          width: 35%;
          text-align: right;
          color: #9a8bff;
          font-weight: 400;
          font-size: 0.85em;
          letter-spacing: 0.02em;
          font-family: "Open Sans";
        }

        .schedule-location {
          font-size: 0.8em;
          letter-spacing: 0.05em;
          line-height: 1.5em;
          color: #827cdf;
        }
      }
    }

    @media (max-width: 767px) {
      .schedule-list {
        width: 97%;
        margin-right: 1%;

        .schedule {
          .schedule-title {
            width: 60%;
            letter-spacing: 0.04em;
          }

          .schedule-time {
            width: 40%;
          }

          .schedule-location {
            letter-spacing: 0.03em;
          }
        }
      }
    }
  }
}
