@import "globals/hack-styles.scss";

.App {
  font-family: Catamaran !important;
  text-align: center;
  min-height: 100vh;
  background: linear-gradient(180deg, $darkYellow 0.8%, $darkRed 48.2%, $darkBlue 100%);
  color: $fontColor;
  position: relative;
  display: flex;
  flex-direction: column;
  scroll-behavior: smooth;

  h3 {
    font-size: 40px;
  }
}

.hack-404 {
  font-weight: normal;
  margin-top: 25vh;
  color: white;
  & label {
    font-size: 24px;
    font-weight: bold;
    color: $softYellow;
  }
  & h1 {
    font-size: 120px;
    font-weight: 700;
    margin: 0;
  }
  & span {
    font-size: 18px;
  }
}

.sweet-alert {
  background-color: $redGrey;
  border-radius: 30px;
  h2 {
    color: $softYellow
  }
  p {
    color: white;
  }
  & button {
    background-color: $darkRed !important;
    border: 1px solid $softRed;
    &:hover {
      background-color: $softRed;
    }
  }
}

.red, .field-required {
  color: $softRed !important;
}