@import "globals/hack-styles.scss";

.App {
  font-family: $body-font;
  text-align: center;
  min-height: 100vh;
  background-color: $light-blue;
  color: $white;
  position: relative;
  display: flex;
  flex-direction: column;
  scroll-behavior: smooth;
}

a {
  color: $sky-blue;

  &:hover {
    color: $white;
  }
}

.h2, h2 {
  font-size: 2.5rem;
  font-weight: 600;
  color: black;
}

.h3, h3 {
  font-size: 2rem;
}

.btn-hack {
  font-weight: 600;
  background-color: $dark-blue;
  color: $white !important;
  padding: 10px 20px;
  border-radius: 100px;
  &:hover {
    opacity: 0.90;
  }
}

.app-content {
  min-height: calc(100vh - 3rem);
  // @include cloud-background;
}

.hack-404 {
  font-weight: normal;
  margin-top: 25vh;
  color: black;
  & label {
    font-size: 24px;
    font-weight: bold;
    color: black;
  }
  & h1 {
    font-size: 120px;
    font-weight: 700;
    margin: 0;
  }
  & span {
    font-size: 18px;
  }
}

.authentication {
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.sweet-alert {
  background-color: white;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.15);
  border-radius: 30px;
  h2 {
    color: $dark
  }
  p {
    color: $dark;
  }
  & button {
    background-color: $black !important;
    color: white;
    font-weight: bold;
  }
}

.red, .field-required {
  color: $softRed !important;
}
