@import "src/globals/hack-styles.scss";

.dashboard-container {
  justify-content: center;
  align-items: center;
  color: #ffffff;
  height: 80vh;
  position: relative;

  .dashboard-content {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -30%);
    min-width: 30%;

    .dashboard-header {
      display: block;
      color: $dashboardHeaderColor;
      top: 20%;
      margin-bottom: 20px;
    }
  }
}

@media screen and (max-width: 981px) {
  .dashboard-container {
    height: 120vh;
  }
}