@import "globals/hack-styles.scss";

#welcome-container {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  height: 100vh;

  .title-container {
    h1 {
      font-weight: bold;
      font-size: 3.5em;
    }

    .welcome {
      color: #fefefe;
    }

    .potential-sponsors {
      background: -webkit-linear-gradient(0deg, #7cddfd, #de9bdf);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    .sponsor-button {
      margin-top: 1em;
      background: transparent;
      font-size: 1.1em;
      border: solid #9b92e2 2px;
      border-radius: 3em;
      padding: 10px 30px 10px 30px;

      &:hover {
        background: #9b92e2;
      }
    }
  }
}

#stats-container {
  background-color: #e7e7e7;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  padding: 2.5em 0 2.5em 0;

  .stat-pair {
    color: #3e4389;
    font-size: 1em;

    .stat {
      font-weight: bold;
      font-size: 2em;
    }
  }
}
