.mainpage {
  padding-bottom: 30px;
}

.mainpage__title {
  display: block;
  margin: auto;
  width: 70%;
  text-align: left;

  font-family: Catamaran;
  font-style: normal;
  font-weight: bold;
  font-size: 120px;
  line-height: 197px;

  color: #ffffff;
}

.mainpage__subtext {
  display: block;
  margin: auto;
  width: 70%;
  text-align: left;
  font-family: Catamaran;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  /* or 139% */
  color: #ffffff;
  padding-top: 5px;
  padding-bottom: 10px;
}

.mainpage__subtext--link {
  color: rgb(103, 147, 212);
}

.mainpage__subtitle {
  display: block;
  margin: auto;
  width: 70%;
  text-align: left;

  font-family: Catamaran;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 58px;
  color: #ffffff;
}
@media (orientation: portrait) {
  .mainpage__title {
    width: 90%;
    font-weight: 600;
    font-size: 64px;
    line-height: 90px;
    padding-top: 20px;
  }

  .mainpage__subtext {
    width: 90%;
  }

  .mainpage__subtitle {
    width: 90%;

    font-size: 36px;
    line-height: 50px;
  }
}