@import "globals/hack-styles.scss";

.App {
  text-align: center;
  min-height: 100vh;
  background: linear-gradient(180deg, $darkYellow 0.8%, $darkRed 48.2%, $darkBlue 100%);
  color: $fontColor;
  font-family: $hackUCIFont;
  overflow-y: auto;

  h3 {
    font-size: 40px;
  }
}