.verify-container {
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);

  .content {
    width: 22rem;
    height: 14rem;

    background-color: rgba(0, 0, 0, 0.5);
    padding: 3rem;
    border-radius: 10px;
    color: white;

    .description-text {
      margin-top: 5px;
      font-size: 20px;
    }

    .icon {
      height: 80px;
      width: 80px;
    }
  }

  .verify-header {
    color: white;
    font-size: 40px;
  }
}
