@import "globals/hack-styles.scss";

.cloud-background {
  position: absolute;
  top: 0;
  // z-index: 1;
  width: 100%;
  overflow: hidden;
  height: 100vh;
  background-color: $sky-blue;

  .island {
    display: none;
  }

  // fix layering of next sibling
  &+ * {
    position: relative;
  }
}
