/**

HackUCI environment styles.

When graphics gives us their style guidelines we can look here.

**/

@import './bootstrap_v5.scss';
@import './bootstrap-utilities.scss';


// PX Sizing for Media queries
$break-small: 500px;
$break-medium: 992px;
$break-large: 1250px;

// Temporary Appwide Style Variables
$fontColor: #fff;
$errorColor: #a31e1e;
$hackUCIFont: Catamaran, sans-serif;

// Backgrounds
$darkBackground: rgba(0, 0, 0, 0.7);
$lightBackground: #fcfcfc;
$coloredLightBackground: #99d9ff;
$tealBackground: #92dee2;
$purpleBackground: #cba3fe;

// Main Colors
$white: #ffffff;
$linkColor: #89d;

// Text
$dashboardHeaderColor: #83A8DB;
$confirmationHeaderColor: #CAA4F8;

// 2021 Color Palette
$softBlue: #8494DA;
$softRed: #FF928B;
$softYellow: #FED9A7;
$redGrey: #4D4141;
$darkYellow: #99826C;
$darkRed: #986360;
$darkBlue: #626483;

// Theme Colors:
$cardBackground: #2e2e2e;
$red: #FF928B;
$yellow: #FED9A7;
$darkBlue: #3d4753;

// 2022 Color Palette


$topGradient: rgba(69, 189, 216, 1);    // rgba(152, 99, 96, 0)
$middleGradient: #986360; // rgba(152, 99, 96, 1)
$bottomGradient: rgba(229, 250, 255, 1); // rgba(98, 100, 131, 1)

.inline-block {
  display: inline-block;
}
