/**

HackUCI environment styles.

When graphics gives us their style guidelines we can look here.

**/

@import "./bootstrap_v5.scss";
@import "./bootstrap-utilities.scss";

// PX Sizing for Media queries
$break-small: 500px;
$break-medium: 992px;
$break-large: 1250px;

$title-font: "Caveat Brush", cursive;
$body-font: "Montserrat", sans-serif;

$darkBackground: rgba(0, 0, 0, 0.7);

// 2022 Theme Colors
$white: #ffffff;
$sky-blue: #45bdd8;
$light-blue: #e5faff;
$dark-blue: #0d272d;

$dashboardHeaderColor: #83a8db;
// $confirmationHeaderColor: #CAA4F8;

// 2021 Color Palette
$softBlue: #8494da;
$softRed: #ff928b;
$softYellow: #fed9a7;
$redGrey: #4d4141;
$darkYellow: #99826c;
$darkRed: #986360;
$darkBlue: #626483;

$cardBackground: #2e2e2e;

@mixin cloud-background {
  background-image: url("~assets/images/site-2022/frontclouds.png"),
    url("~assets/images/site-2022/clouds-rear.png"),
    url("~assets/images/site-2022/backclouds.png"),
    url("~assets/images/site-2022/45bdd8.png");
  background-repeat: no-repeat;
}

.inline-block {
  display: inline-block;
}

.fit-content {
  width: fit-content;
}
