/**

HackUCI environment styles.

When graphics gives us their style guidelines we can look here.

**/

@import url("https://fonts.googleapis.com/css?family=Catamaran");

// PX Sizing for Media queries
$break-small: 500px;
$break-medium: 950px;
$break-large: 1250px;

// Temporary Appwide Style Variables
$fontColor: #2e2e2e;
$errorColor: #a31e1e;
$hackUCIFont: Rubik;

// Backgrounds
$darkBackground: #2e2e2e;
$lightBackground: #fcfcfc;
$coloredLightBackground: #99d9ff;
$tealBackground: #92dee2;
$purpleBackground: #cba3fe;

// Main Colors
$white: #ffffff;

// Text
$dashboardHeaderColor: #83A8DB;
$confirmationHeaderColor: #CAA4F8;

// 2020 Color Palette
$softBlue: #8494DA;
$softRed: #FF928B;
$softYellow: #FED9A7;
$redGrey: #4D4141;
$darkYellow: #99826C;
$darkRed: #986360;
$darkBlue: #626483;

// Theme Colors:
$cardBackground: #2e2e2e;
$red: #FF928B;
$yellow: #FED9A7;
$darkBlue: #3d4753;

$topGradient: #29332a;    // rgba(152, 99, 96, 0)
$middleGradient: #986360; // rgba(152, 99, 96, 1)
$bottomGradient: #626483; // rgba(98, 100, 131, 1)
